body{
    margin: 0px;
}
.fundo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.fundoJogo{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    
    
    
    
    border-radius: 50px;
    background-color: rgb(86, 212, 86);
}

.fundoTitulo{
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}

.fundoTexto{
    width: 500px;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    

}


